

.flex-container {
  display: flex;
}
.flex-container> div{
  width: 50%;
  padding: 30px;
}
.flex-container> .left-profile{
display: flex;
justify-content: end;
}
.flex-container> .left-profile > div{
width: 200px;
height: 200px;
border: 1px solid white ;
border-radius: 50%;
object-fit: cover;
margin-top: 30px;
}
.flex-container> .left-profile > div > img{
width: 100%;
height: 100%;
}
.flex-container>div>p>label{
font-size:1.4rem;
font-weight: bold;
}.flex-container>div>p>label>span{
color: darkgray;
font-weight: normal;
}
.flex-container> div>img{
padding-left: 70px !important;
width:50%
}

.MuiButton-containedPrimary{
margin: auto !important;
}
.ra-input{}
.MuiFormControl-marginDense{
width: 80% !important;
margin-left: 10% !important;
}